.buttons {
    border-radius: 5px;
    background-color: #454545;
    color: white;

    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px grey;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 4;
}

.app-title {
    font-weight: 600;
    font-size: 30px;
}

.header-buffer {
    flex-grow: 1;
}

.user-button {
    background-color: transparent;
    width: 48px;
    height: 48px;
}

.user {
    font-size: 30px;
    border: 1px solid rgb(102, 102, 102);
    padding: 2px;
    margin: 2px;
    border-radius: 50%;
    color: rgb(102, 102, 102);
}

.user:hover {
    font-size: 31px;
}

.user:active {
    font-size: 32px;
}

.user-back {
    position: fixed;
    top: 0%;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 2;
}

.user-details {
    width: 300px;
    position: fixed;
    background-color: white;
    top: 100px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px grey;
    overflow: hidden;
}

.username {
    padding: 15px;
}

.logout {
    border-top: 1px solid rgb(196, 196, 196);
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout:hover {
    background-color: rgb(219, 218, 218);
}

.logout:active {
    background-color: rgb(202, 201, 201);
}

.task-container {
    margin-top: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.task {
    border-radius: 10px;
    position: relative;
    background-color: rgb(53, 53, 56);
}

.task-header {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    border-bottom: 2px solid white;
    align-items: center;
}

.task-title {
    color: white;
}

.task-count {
    font-size: 16px;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 28px;
    height: 28px;
    background-color: #696969;
    border-radius: 50%;
}

.task-header-buffer {
    flex-grow: 1;
}

.task-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

.task-type {
    max-height: 400px;
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.add-task {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 25px;
    height: 25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.add-task:hover {
    width: 26px;
    height: 26px;
    font-size: 25px;
}

.task-footer {
    position: absolute;
    bottom: 0%;
    padding: 10px;
    background-color: rgb(53, 53, 56);
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.card-final {
    /* width: 300px; */
    text-align: left;
    position: relative;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    margin: 10px;
    overflow: visible;
}

.card-title {
    margin: 10px 0px;
    font-weight: 600;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-priority {
    background-color: #f0edfc;
    border-radius: 5px;
    padding: 5px;
    color: rgb(194, 60, 60);
}

.card-buffer {
    flex-grow: 1;
}

.card-desc {
    margin: 10px 0px;
    white-space: pre-line;
}

.card-deadline {
    color: rgb(194, 66, 66);
    margin: 10px 0px;
    display: flex;
}

.react-icon {
    font-size: 16px;
    color: rgb(80, 80, 80);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-icon:hover {
    background-color: rgb(202, 201, 201);
}

.react-icon:active {
    background-color: rgb(219, 218, 218);
}

@media screen and (max-width: 325px) {
    .header * {
        font-size: 20px;
    }

    .user-details {
        width: 90%;
    }
}
